[[source]]
url = "https://mirrors.aliyun.com/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
dnspython = "*"
watchdog = "*"
fastapi = "*"
uvicorn = "*"
colorama = "*"

[dev-packages]
build = "*"
twine = "*"
hatchling = "*"
pyinstaller = "*"

[requires]
python_version = "3.11"
